.image {
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  margin: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 120px;
  max-width: 136px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.image img {
  width: 100%;
}
