.registration {
  height: 100%;
  background-color: #ffffff;
}

.header {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  color: #da2020;
  text-transform: capitalize;
}
