<div id="tnc-txt">
    <h4 class="tncSectionHeader">
        1. All the defined and capitalized terms in these terms and conditions
        ("<u>T&amp;C</u>") will have the meaning assigned to them below:
    </h4>
    <p class="tncParagraph">
        a. "<u>Bank</u>" shall mean the Federal Bank Ltd.
    </p>
    <p class="tncParagraph">
        b. <em><u>'Digital credit line</u></em><em>' or ‘InstaCred credit limit'
            shall mean the loan/ advance under InstaCred granted/to be granted to&nbsp; You by the Bank for the
            purpose of making payments related to the products and/ or services&nbsp; purchased by You online
            through InstaCred services</em>
    </p>
    <p class="tncParagraph">
        c. "<u>Flexmoney</u>" <em>shall mean Flexmoney Technologies Private Limited, a company registered under the
            Companies Act, 2013, having its registered office at 42, FLR 6, CS 2/108, 4, A.H. WadiaBaug, G D Ambedkar
            Marg, Kalachowki, Mumbai -400 033, Maharashtra, India, which provides a platform ("Flexmoney's platform")
            for activating, utilizing and managing &nbsp;Digital credit line on behalf of the Bank, thereby enabling You
            to avail loans/advance for making &nbsp;payment/s for the transactions made by You with the Merchants.</em>
    </p>
    <p class="tncParagraph">
        d. "<u>InstaCred</u>" shall refer to the services provided by Flexmoney's platform to you on
        behalf of the Bank, including but not limited to the activation, utilization and management of the Digital
        credit line offered to you by the Bank.
    </p>
    <p class="tncParagraph">
        e. "Instacred amount" means the amount of Digital Credit Line availed / to be availed by You through InstaCred
        services.
    </p>
    <p class="tncParagraph">
        f. "<u>Merchant</u>" shall mean a third party company, person, organisation or entity, selected on the terms
        identified by Flexmoney and the Bank, which sells products and/ or services online to You.
    </p>
    <p class="tncParagraph">
        g. <em>In these T&amp;Cs, all references to "<u>You</u>" or "<u>Your</u>" shall refer to you, the person who is
            offered with digital credit line by the Bank and is accessing/ using the InstaCred service or signs up for
            using the service.</em>
    </p>
    <h4 class="tncSectionHeader">
        2. The InstaCred digital credit line is sanctioned at the sole discretion of the
        Bank. The Bank reserves the right to decide your eligibility for the InstaCred digital credit line as per the
        Bank's internal policies and guidelines.
    </h4>
    <h4 class="tncSectionHeader">
        3. Your availing of the InstaCred digital credit line shall be deemed to be Your unconditional acceptance of the
        T&Cs of the InstaCred service as contained herein and You shall be bound by the same.
    </h4>
    <h4 class="tncSectionHeader">
        4. The Bank shall disburse the InstaCred amount from your InstaCred credit limit relating to the successful
        transactions initiated by You through the InstaCred service to the respective Merchant accounts either directly
        or through respective payment gateways.
    </h4>
    <h4 class="tncSectionHeader">
        5. The InstaCred amount shall be within the monetary limits set by the Bank while granting you the InstaCred
        digital credit line and Bank reserves the right to vary monetary limits from time to time, as required, without
        prior notice/consent.
    </h4>
    <h4 class="tncSectionHeader">
        6. By availing InstaCred, You hereby unconditionally agree, confirm, declare and
        undertake as follows:
    </h4>
    <p class="tncParagraph">
        a) You shall utilize InstaCred only for genuine lawful transactions related to purchase of
        goods and services in India and not otherwise.
    </p>
    <p class="tncParagraph">
        b) You shall avail InstaCred digital credit line as per the applicable interest rate and tenure at the checkout
        page.
    </p>
    <p class="tncParagraph">
        c) The Interest shall be applied to the InstaCred amount utilized by You on daily
        diminishing method. You shall repay the InstaCred amount availed as per the Repayment Terms set by the Bank, and
        provided at the checkout page and the details thereof are send to Your e-mail ID registered with the Bank.
    </p>
    <p class="tncParagraph">
        d) You shall maintain sufficient credit balance in Your Operative Account for repayment of the InstaCred digital
        credit line availed by You.
    </p>

    <p class="tncParagraph">
        e) (i)In the case of subsequent cancellation/return of the product purchased, You shall pay to the Bank interest
        applicable on the outstanding Instacred amount, from the date of availing of the same till the date of receipt
        of the amounts refunded by the Merchant
    </p>
    <p class="tncParagraph">
        (ii) In addition to the above, all the amounts charged by the Merchant towards shipping / cancellation/ return
        or of any other nature, for the cancellation/ return shall be paid by You along with applicable interests as
        afore-mentioned, so as to wipe off the entire Instacred liabilities on account of the transaction.
    </p>
    <p class="tncParagraph">
        (iii) The reversal of Instacred amount , will be effected by the Bank only upon the actual receipt of amounts
        refunded by the Merchant The Bank will not be liable in any manner for the delay in receipt of such refund due
        to any reason whatsoever and the loss / damages caused thereof to You . You shall be liable to pay the interest
        applicable on the balance outstanding under the Instacred amount till the date of actual receipt of refund.
    </p>
    <p class="tncParagraph">
        f) All the information provided by You at the time of opening the Operative Account is true and correct, and You
        shall continue to provide any relevant information required by the Bank (or their associated partners) for their
        compliance with applicable law (including, KYC norms/Anti-Money Laundering Standards/Combating of Financing of
        Terrorism (CFT)/obligation of banks under the Prevention of Money Laundering Act, 2002) promulgated by the
        Government of India/Reserve Bank of India/other statutory or regulatory authorities.
    </p>
    <p class="tncParagraph">
        g) The Bank is authorised to disclose information/ data provided by You at the time of opening the account to
        Flexmoney and/or anyone, including subsidiaries of the Bank or other third party entities with whom the Bank may
        enter/ has entered into any arrangements in connection with providing financial/ other services, including
        without limitation, for the purpose of marketing/ cross selling of various financial products.
    </p>
    <p class="tncParagraph">
        h) You shall, if and whenever required by the Bank to do so, do and execute all such acts, things , deeds,
        documents or assurance as the Bank may require for perfecting the Digital Credit Line loan transaction in all
        respects.
    </p>

    <h4 class="tncSectionHeader">
        7. Neither the Bank nor Flexmoney shall be responsible or liable for any loss or
        damage, howsoever caused or suffered by You arising out of the transactions with Merchants or the Merchant's
        failure to provide necessary products/services to You for any reason whatsoever. The Bank's obligation will
        cease upon disbursal of Instacred amount to Merchant.
    </h4>
    <h4 class="tncSectionHeader">
        8. You are responsible for maintaining the secrecy of Your passwords, PIN, login and account information
        relating to the InstaCred service and the Operative Account. You will be responsible for the use of the
        InstaCred service by any other person using Your password, PIN and login information (with or without Your
        permission) and such transaction shall be binding on You.
    </h4>
    <h4 class="tncSectionHeader">
        9. The InstaCred transaction once confirmed and processed cannot be cancelled. The applicable interest and
        tenure confirmed at the time of availing the InstaCred digital credit line cannot be changed. The details of the
        Digital Credit Line transaction viz. Instacredit amount, Loan Interest Rate, Processing Fee, Tenure, EMI etc.
        accepted by You shall be sent to Your e-mail ID registered with the Bank.
    </h4>
    <h4 class="tncSectionHeader">
        10. The InstaCred amount outstanding can be pre-closed at any time without any applicable pre-closure charges
        during the tenure.
    </h4>
    <h4 class="tncSectionHeader">
        11. Service Tax as per the regulations of Government of India will be applicable on Processing Fee. As on date,
        Service Tax applicable is 15% including Swachh Bharat Cess @ 0.5% and KrishiKalyan Cess @ 0.5%. Service Tax is
        subject to change as per regulations of Government of India.
    </h4>
    <h4 class="tncSectionHeader">
        12. In the event of Your default in repaying the InstaCred amount outstanding together with applicable interest,
        charges, taxes and costs and/or in adhering to the T&Cs contained herein,
    </h4>
    <p class="tncParagraph">
        a. You shall be liable to pay additional/penal interest at the rate of 2% per annum with monthly rests, over
        and above the applicable interest rate.
    </p>
    <p class="tncParagraph">
        b. The entire amounts outstanding in the InstaCred account shall be payable forthwith on demand. However, the
        Bank may at its sole discretion permit you to continue with the InstaCred service subject to Your payment of
        overdue amounts.
    </p>
    <p class="tncParagraph">
        c. The Bank shall be entitled to report Your name to CIBIL/RBI or any other statutory, regulatory or rating
        agencies.
    </p>
    <p class="tncParagraph">
        d. The Bank shall be entitled to initiate such other legally permissible measures against You for recovering the
        amounts outstanding under the InstaCred digital credit line availed, including by engaging the services of
        collection/ recovery agents, in terms of the Bank`s Loan/Debt Collection Policy.
    </p>
    <p class="tncParagraph">
        e. The Bank shall be entitled to pre-close the InstaCred facility at its discretion.
    </p>
    <h4 class="tncSectionHeader">
        13. The Bank reserves the right at any time, without previous notice, to add, alter, modify, change or vary all
        or
        any of these T&Cs. All disputes, if any, arising out of or in connection with or otherwise relating hereto shall
        be subject to the exclusive jurisdiction of the competent Courts/Tribunals in Kochi, Kerala only.
    </h4>
    <h4 class="tncSectionHeader">
        14. You agree and declare that the Bank shall have an unqualified right to assign the InstaCred digital credit
        availed by You to any other Bank/Financial Institution/NBFC of Bank`s choice, for which purpose no further
        consent or concurrence shall be required from Your part.
    </h4>
    <h4 class="tncSectionHeader">
        This is also available at https://www.federalbank.co.in/instacred.
    </h4>
</div>