<div id="tnc-txt">
    <h4 class="tncParagraph">The person named in the Schedule-cum-Key Fact Statement (hereinafter referred to as
        the <span class="bold-text">"Schedule"</span>) being borrower , herein after referred to as <span class="bold-text">"Borrower"</span> which
        expression shall, unless it be repugnant to the context or meaning thereof, be
        deemed to mean and include his/her heirs, administrators and executors.</h4>
    <p class="tncParagraph bold-text">In favour of:</p>
    <p class="tncParagraph">
        <span class="bold-text">HDFC BANK LIMITED</span>, a company within the meaning of the Companies Act , 2013 and a
        banking company having license as such from the Reserve Bank of India (<span class="bold-text">"RBI"</span>) under
        the provisions of the Banking Regulation Act, 1949, and having its registered office at HDFC Bank House, Senapati Bapat Marg, Lower Parel, Mumbai 400 013.
        The expression “Bank”, unless it be repugnant to the context or meaning thereof, shall include its successors and assigns.</p>

    <p class="tncParagraph">Pursuant to the Borrower’s request, the Bank has sanctioned/may in its absolute and sole discretion,
        sanction the facility not exceeding the amount mentioned in the Schedule (hereinafter referred to as<span class="bold-text">"Facility"</span>).
        The Borrower agrees to borrow the same, on the basis of and subject to the terms and conditions set out below.
        The Schedule shall form an integral part of the terms and conditions:</p>

    <h4 class="tncSectionHeader">1. GRANT OF THE FACILITY</h4>
    <p class="tncParagraph">1.1. At the request of the Borrower made online on the website/ webpage/ application of the
        merchant wherein the Borrower has chosen to purchase the
        product(s)  ("<span class="bold-text">Product(s)</span>") and applied for the Facility for purchase of the said
        Product(s), the Bank has agreed to provide the Facility to be utilized solely towards purchase of Product (s).
        The Product(s) shall not include jewellery or any other products the purchase of which is/are not eligible for bank finance.
        Without prejudice to the generality of the foregoing, the Borrower shall not utilize the proceeds of the Facility for any
        purpose which is in violation of applicable law.</p>

    <p class="tncParagraph">1.2. The Facility shall be provided only to existing customers of the Bank who
        having an existing current account or savings account with the Bank ("<span class="bold-text">Account</span>")
        and who the Bank, in its absolute and sole discretion, determines are eligible for the grant of the Facility .
    </p>
    <p class="tncParagraph">1.3. The Borrower agrees that the Facility sanctioned to the Borrower shall be
        disbursed directly to the Merchant after deducting the applicable charges, commissions, fees, taxes,
        levies. It is clarified that, the Facility disbursed by the Bank directly to the Merchant shall be deemed to be a disbursement by
        the Bank to the Borrower.
    </p>
    <p class="tncParagraph">1.4. The Borrower acknowledges and agrees that the aforesaid Facility amount is
        of a non-revolving nature and once used will not once again become available on repayment of the Facility or any part thereof.
    </p>

    <h4 class="tncSectionHeader">2. REPAYMENT</h4>
    <p class="tncParagraph">2.1 The Borrower shall, if not demanded earlier by the Bank, repay the principal amount of the Facility on the
        last day of the Tenure as more particularly specified in the Schedule.
    </p>

    <h4 class="tncSectionHeader">3. PAYMENTS</h4>
    <p class="tncParagraph">3.1. The principal amount of the Facility, the interest, compound interest, Additional Interest,
        any other charges, dues and monies payable, costs and expenses reimbursable, as outstanding from time to time shall be referred to as
        "<span class="bold-text">Outstanding Balance</span>".</p>

    <p class="tncParagraph">3.2. The payment of all the monies by the Borrower shall be made on or before the respective due dates,
        at such place as the Bank may require, without any setoff for counterclaim or withholding or deduction (save as required by law in which case the amount
        payable by the Borrower to the Bank shall be increased to the amount which after making such deduction or withholding equals the original due amount as if no withholding
        or deduction were required), by way of one or more modes and instruments including post-dated cheques (PDCs), Standing Instructions (SI)/Electronic Clearing System (ECS)
        instructions/ other mode/instrument, as acceptable to the Bank from time to time. If any due date falls on a non-business day of the Bank, the payment shall be made by the
        Borrower on the immediately preceding business day of the Bank. In case of cheques/other instrument, the payment shall be deemed to have been made by the
        Borrower only at the point of time the sum is credited and realized fully in Bank’s account irrespective of the date of instrument or time of receipt or presentation of instrument.
        Without prejudice to the generality of the aforesaid, the Borrower irrevocably and unconditionally authorises the Bank and confirms that the Bank shall be authorized
        (without any further act, deed or writing on the part of the Borrower and without any requirement of the Bank consulting or in forming or taking prior consent of the Borrower or any other
        person) to, from time to time, close/ debit the Account/any other accounts of the Borrower with the Bank including any term/other deposits, and/or appropriate
        any monies thereunder/in (including by prematurely terminating the term/other deposits), any credits coming therein including salary
        credits, towards/against payment/repayment to the Bank of all monies/Outstanding Balance, any part thereof, on the respective
        due dates or as per the discretion of the Bank.
    </p>

    <p class="tncParagraph">3.3. The Borrower shall keep itself in formed of the due date(s) and payment obligations pursuant
        thereto including amount and frequency of installments and variations thereto.
    </p>

    <p class="tncParagraph">3.4. Without prejudice to any other rights or remedies of the Bank, the Borrower
        acknowledges that if for any reason whatsoever any Standing Instruction remains unpaid on presenting the same including
        insufficient balance or revocation thereof by the Borrower, the Borrower including insufficient balance or revocation
        thereof by the Borrower, the Borrower shall be liable for offence under Section 25 of the Payment and Settlement Systems Act,
        2007 read with Sections 138, 142 and other relevant provisions of the Negotiable Instruments Act, 1881.</p>

    <p class="tncParagraph">3.5. All taxes, cess, surcharge, duties, imposts, rates, any similar levies in any jurisdictions
        levied by/collected by/payable to any governmental authority (any or all of which, as may be applicable now or in future,
        and whether existing now or in future), interest, penalty and any other obligations in relation to any of the aforesaid including
        for any past liabilities and obligations, and without limitation including all direct and indirect taxes, all types of goods
        and services taxes, toll taxes, municipal, local, road transport taxes, etc. , shall be collectively be referred to as
        "<span class="bold-text">Taxes</span>". .
    </p>

    <h4 class="tncSectionHeader">4. Interest</h4>
    <p class="tncParagraph">4.1. The Borrower shall pay interest on the Facility, the unpaid due interest and
        all other outstanding charges and monies (except on the Additional Interest), at the applicable interest rate as mentioned in
        the Schedule ("<span class="bold-text">Interest Rate</span>") on the outstanding daily balance from the respective date of
        Disbursement, compoundable at monthly or other rests or as may be intimated by the Bank to the Borrower in writing from time
        to time and the Borrower shall not dispute the same. Interest shall be calculated on a 360 day year basis or such other
        basis as may be required by the Bank. Interest on all outstanding amounts (including towards interest, commission, costs and
        expenses) will be computed on the daily outstanding balance under the Facility and will be debited to the Account of the
        Borrower, on a monthly basis on the last day of the month.
    </p>

    <p class="tncParagraph">4.2. Notwithstanding anything to the contrary, the Bank shall in its absolute discretion or
        as per the guidelines/directions/rules/regulations/law issued/notified by RBI and/or any other statutory or regulatory
        authority and any other law in force including but not limited to, any tax law modify the Interest Rate,
        including increase the same.
    </p>

    <p class="tncParagraph">4.3.  The Borrower shall also pay and bear all interest tax, if any, as applicable
        from time to time. The Borrower expressly authorizes bank to debit the amount of interest/charges due
        payable by him by making monthly debits to my/our salary savings account. Borrower further acknowledges that the
        necessary fees for processing, set up and documentation shall be debited to his/her salary savings account,
        on the date this overdraft facility is made operational.</p>

    <p class="tncParagraph">4.4. The Borrower hereby agrees that except as provided herein, the Interest Rate
        start date will be the date of sanction of the Facility. Provided that if a loan is booked on the dates 13th to 15th of
        any month (applicable only where the loan tenure is 15 (fifteen days)), the Interest Rate start date will be the 16th day
        of that month. Provided further that, if a loan is booked on the dates 28th to 31st of any month (applicable only where the
        loan tenure is 30(thirty) days/ 60(sixty) days/ 90(ninety) days), the Interest Rate start date will be the 1st
        day of the subsequent month.</p>
    <p class="tncParagraph">4.5. For loan bookings where the loan tenure is 15(fifteen days), the interest cost is reduced by passing
        the discount to the borrower at the time of EMI conversion/loan Booking. The discount given reduces Price of the product on
        which then the EMI interest is charged; thus the cost of interest is reduced/nullified by the upfront discount,
        and the Borrower pays only the product’s retail price at the end of the tenor.</p>


    <h4 class="tncSectionHeader">5. Additional Interest:</h4>
    <p class="tncParagraph">5.1. Without prejudice to the Bank’s rights and remedies under contract and/or law: in case of any breach by the
        Borrower of any of the undertaking, covenants, representation and warranties, terms and conditions contained herein, including non-payment of any Outstanding Balance or part thereof when due;
        the Borrower shall be liable to pay additional interest ("<span class="bold-text">Additional Interest</span>"), if any, at the rate specified in the Schedule or such other rate which the Bank
        may fix from time to time ("<span class="bold-text">Additional Interest Rate</span>"), over and above the applicable Interest Rate, from the date of default till the date of actual payment in
        full or cure of default to the satisfaction of the Bank, as the case maybe. It is hereby clarified that the charging of or payment of Additional Interest shall not entitle the Borrower to claim
        a defence that no Event of Default as mentioned hereunder has occurred or that the same if occurred has been cured. In case of breach of financial covenants, the date of default shall be actual
        date of default or date of relevant financial statements, as may be determined by the Bank.
    </p>

    <p class="tncParagraph">6. Notwithstanding anything to the contrary in any of the Facility Documents, the Borrower irrevocably and unconditionally authorises the Bank and confirms that the Bank shall be
        entitled (without any further act, deed or writing on the part of the Borrower and without any requirement of the Bank consulting or informing or taking prior consent of the Borrower or any other person) to,
        from time to time, debit the Account/any other accounts of the Borrower with the Bank including any term/other deposits, and/or to appropriate any monies thereunder/in (including by prematurely terminating the term/other deposits),
        towards/against payment/repayment to the Bank of all monies/Outstanding Balance or any part thereof, on the respective due dates or as per the discretion of the Bank.
    </p>

    <p class="tncParagraph">7. The Borrower shall pay to Bank, the charges, fees ,commissions, etc., specified in the Schedule or as specified by the Bank from time to time, within such time or upon occurrence
        of such events as specified and if not specified then forthwith upon demanded by the Bank. All other present and future costs and expenses, Taxes (as applicable from time to time), any related levy,
        stamp duty, in all jurisdictions, in relation to the this/other documents/any transaction pursuant thereto, irrespective of who the beneficiary is, shall be borne and payable solely by the Borrower, including for
        creation, enforcement, preservation of security, recovery, initiating/defending/pursuing any legal proceedings/actions by Bank. In case of any such sums if paid or incurred by the Bank, the Borrower shall be liable
        to reimburse the same, with Taxes if any, to the Bank in full forthwith. Any such cost/amount shall be deemed to be incurred by the Bank as a pure agent
        of the Borrower. The Borrower shall pay to the Bank an annual maintenance charge and renewal fee, if any, as mentioned in the Schedule or as may be prescribed
        by the Bank from time to time.
    </p>

    <p class="tncParagraph">8. Notwithstanding anything contained in this document, any payments made by/on behalf of/for the Borrower or any realisations in
        relation to the Facility, security, shall be appropriated towards the Outstanding Balance and/or Liabilities (as defined hereinafter) in the following
        order or priority viz.: (a) Firstly, towards interest on costs, charges, expenses and other monies (b) then, towards Taxes, costs,
        charges, expenses and other monies incurred by the Bank; (b) then, towards additional interest, if any; (c) then, towards interest on the Facility;
        (d ) then, towards prepayment premium, if any; (e) then, towards repayment of the principal amount(s) of the Facility; (f) then, towards the
        indebtedness of the Borrower towards the Bank.
    </p>
    <p class="tncParagraph">Provided that, the Bank may however change the aforesaid sequence in its sole discretion
        and appropriate any payment in any manner as it deems fit.
    </p>

    <p class="tncParagraph">9. The Bank reserves an unconditional right to cancel/terminate the right of the Borrower to avail of the
        Facility or make drawals/transfers from the Account at any time during the currency of this document, without any prior notice to
        the Borrower. Notwithstanding anything stated in any document, the continuation of the Facility shall be at sole and absolute discretion of the Bank
        and the Bank may at any time in its sole discretion and without assigning any reason call upon the Borrower to pay the Outstanding Balance and upon such demand by the Bank,
        the Borrower shall, within 48(forty eight) hours of being so called upon, pay the whole of the Outstanding Balance to the Bank without any delay or demur.
    </p>

    <p class="tncParagraph">10. The tenure / interest rate and frequency of payment / other terms and conditions of the Facility are subject to change as a
        consequence to any change in the money market conditions or on account of any other statutory or regulatory requirements or at the Bank’s
        discretion. The Bank reserves the right to review and amend the terms of the Facility in such manner and to such extent as it may deem
        fit.
    </p>

    <p class="tncParagraph">10.1. Notwithstanding anything to the contrary in the document or any other document, the Borrower irrevocably and
        unconditionally agrees that the payment of the Outstanding Balance by the Borrower shall not be dependent or conditional upon any dispute
        between the Borrower and the Merchant, or any other event including non-receipt of the Product(s) and/or any defect in the Product (s),
        and the Borrower undertakes to make the payment of the Outstanding Balance regardless and despite any such dispute or event, on the due
        dates, unless the Bank at its sole discretion cancels the Facility.</p>

    <p class="tncParagraph">10.2. The Borrower shall not be entitled to make any prepayment of the principal amount due on the Facility unless demanded by the Bank in terms of
        Clause 11 above. Without prejudice to the preceding sentence and any other rights which the Bank may have on a breach thereof, any prepayment
        made by the Borrower shall attract the foreclosure charges set out in the Schedule of Charges which the Borrower shall be bound to pay over and
        above any other amounts payable by the Borrower under the terms hereof.
    </p>

    <p class="tncParagraph">10.3. The cancellation of the transaction either by the Merchant or the Borrower for the
        purchase of the Product for which
        Facility has been utilized, shall lead to an automatic cancellation of the entire Facility and all amounts due
        from
        the Borrower in respect of the Facility shall forthwith become due and payable to the Bank. In the event of
        cancellation
        of some but not all of the Products for which the Facility has been sanctioned, shall lead to a cancellation of
        the Facility
        to the extent of those Products and all amounts due from the Borrower in respect of the Facility shall forthwith
        become due and payable to the Bank. It is further clarified that amounts already paid towards interest on the
        Facility
        shall not be reversed or repaid by the Bank to the Borrower.
    </p>
    <p class="tncParagraph">10.4. The Borrower hereby agrees that even in the event of the Borrower receiving a
        confirmation from the Merchant of the
        grant, sanction and/or disbursement of the Facility to the Borrower, the Bank shall not be bound by the same and
        the
        sanction and disbursement of the Facility shall be at the sole discretion of the Bank and in the event of the
        non sanction of the Facility by the Bank, the transaction of the Borrower with the Merchant for the purchase of
        the
        Product(s) shall automatically stand cancelled and the Merchant will not be under an obligation to deliver the
        Product(s) to the Borrower.
    </p>
    <h4 class="tncSectionHeader">11. OTHER PAYMENTS</h4>
    <p class="tncParagraph">11.1. The Borrower hereby agrees to make payment of all the fees and charges specified in the Schedule of Charges
        (along with GST as applicable)
    </p>
    <p class="tncParagraph">11.2. The Borrower shall bear and pay all costs, expenses, fees, taxes (as applicable from time to time), duties
        (including stamp duties), charges and other imposts and obligations, existing as well as future, which may become payable by the Bank in respect of
        the Facility, including without limitation (a) the execution, delivery and performance of any documentation in relation to the
        Facility, (b) the servicing and administration of the Facility; and (c) the enforcement of the Bank’s rights in respect of the
        Facility.
    </p>

    <p class="tncParagraph">11.3. In case the Borrower seeks any refund from the Merchant or its agent or the
        manufacturer for a Product and the
        refund is sent to the Borrower, the Borrower shall use the refund mandatorily and fully for pre-payment of the
        Facility.
    </p>

    <h4 class="tncSectionHeader">12. REPRESENTATIONS AND WARRANTIES</h4>
    <p class="tncParagraph">12.1. The Borrower hereby represents and warrants on the date of these presents and thereon
        on each day during the
        continuance of the Facility that: (a) The Borrower is a citizen of India and is a person resident in India for
        all purposes
        under applicable law; (b) All information set out in these presents and furnished to the Bank in connection with
        the
        Facility, whether through physical or electronic means, is true and correct, and is not false or misleading in
        any manner; and (c) The Borrower is competent to contract under law and the Borrower entering into and
        performance by the Borrower of the transactions contemplated by these presents do not and will not conflict with
        any
        applicable law, judgement, order, award, contract or regulation applicable to the Borrower.
    </p>
    <h4 class="tncSectionHeader">13. RETURN/PARTIAL RETURN OF PRODUCT(S) BY THE BORROWER:</h4>
    <p class="tncParagraph">13.1. In case of where the Borrower initiates a return of one or more of the Product(s) but
        not all of the Product(s) for which
        the Facility has been sanctioned by the Bank ("<b style="font-weight: bold;">Partial Return</b>"), such an
        action shall amount to reduction of the
        Facility
        amount repayable by the Borrower and the Schedule shall stand overridden by a revised Schedule communicated to
        the Borrower by the Bank and the said revised Schedule shall be deemed to form part of these Terms and
        Conditions
        without any further act, deed or writing on behalf of the Borrower.
    </p>
    <p class="tncParagraph">Provided that in case of Partial Return by the Borrower which results in the Facility amount
        in relation to the Product(s)
        to fall below the minimum value of the Facility as may be determined by the Bank in its sole discretion, the
        Bank may
        cancel such Facility for all the Product(s), at its sole discretion.
    </p>
    <p class="tncParagraph">13.2.Notwithstanding in an event where the Bank cancels the Facility, in case where the
        Merchant charges the Borrower
        for returning any Product(s), such amount shall not be borne by the Borrower and the said amount shall form part
        of
        the Outstanding Balance due from the Borrower to the Bank.
    </p>
    <p class="tncParagraph">13.3. The Bank in its absolute and sole discretion cancel the entire Facility or part
        thereof upon occurrence of any of the
        following events:
        <div class="font12">(i) In case where the Borrower initiates a return of the Product(s) to the Merchant;</div>
        <div class="font12">(ii) The Borrower commits a fraud with respect to the transaction for the Product(s);</div>
        <div class="font12">(iii) The Borrower raises any disputes with respect to the delivery, or quality, or quantity, or
            warranty/guarantee, etc.
            of the Product(s) with the Merchant.
        </div>
    </p>

    <p class="tncParagraph">13.4. The Borrower shall promptly inform the Bank in case of occurrence of any of the event
        specified in clause 13.3 above
        and the Borrower:
        <div class="font12">(i) shall forthwith pay to the Bank the entire Outstanding Balance of the cancelled Facility;</div>
        <div class="font12">(ii) Irrevocable authorizes and instructs the Bank to debit the Account or any other account maintained
            with the Bank
            by the Borrower, in respect of such Outstanding Balance.
        </div>
    </p>

    <p class="tncParagraph">13.5. The Borrower hereby agrees and acknowledges that the Borrower shall not be entitled to
        initiate a return request for
        any Product(s) with the Merchant after expiry of a period of 30 (thirty) days from the date of the purchase of
        the
        Product(s) or after a shorter period as may be prescribed by the Bank at its sole discretion. Notwithstanding
        anything
        contained in this Clause, in the event the Borrower initiates return after the expiry of such period, the
        Borrower shall
        be fully liable to pay the Outstanding Balance to the Bank, irrespective of whether or not the Merchant agrees
        to accept
        the return by the Borrower or not.
    </p>
    <h4 class="tncSectionHeader">14. EVENTS OF DEFAULT</h4>
    <p class="tncParagraph">14.1.Occurrence of any of the following in the opinion of the Bank, shall constitute an
        "<span class="bold-text">Event of Default</span>": (a) The Borrower
        does not pay, on any due date, any amount payable pursuant to these presents; (b) If any litigation, arbitration
        or administrative proceedings are filed against the Borrower which proceedings may in the sole opinion of the
        Bank adversely affect the interests of the Bank; (c) If the Borrower dies or commences a voluntary proceeding
        under any applicable bankruptcy, insolvency or other similar law now or hereafter in effect, or admits inability to
        pay his/her debts as they fall due, or consents to the entry of an order for relief in an involuntary proceeding under any
        such law, or consents to the appointment of or the taking of possession by a receiver, liquidator, assignee (or similar
        official) for any or a substantial part of his/her property; (d) If any representations and/or warranties contained in
        these presents are found to be untrue, misleading or incorrect, when made or deemed to be made; (e) If the Borrower is
        unable to meet any of its obligations when due to the Bank or any other bank, financial institution or other
        lender; and (f) Any breach by the Borrower of any of the terms and conditions contained in these presents; (g) if there is
        any withdrawal, revocation or variance/modification, stop payment instruction (except with the express consent in
        writing of the Bank) or dishonor of any NACH/ECS and/or SI mandate / any other payment instructions/mandates or any
        other instrument/mode of payment; and (h) if there is any dispute between the Borrower and the Merchant with respect
        to the delivery, or quality, or quantity, or warranty/guarantee, merchantability, suitability, service, etc. of the
        Product(s).
    </p>
    <p class="tncParagraph">14.2. On the occurrence of an Event of Default, without prejudice to any other rights that
        the Bank may have under
        applicable law or otherwise, all amounts due in respect of the Facility shall forthwith become due and payable
        to the
        Bank and the Bank shall be entitled to exercise all of its rights powers and remedies available hereunder and
        under law against the Borrower to recover the same.
    </p>
    <h4 class="tncSectionHeader">15. NOTICE</h4>

    <p class="tncParagraph">15.1. All notices, approvals, instructions, demand and other communication given or made
        under
        these presents shall
        be in writing and may, subject to Clause 15.2 hereof, be given by facsimile, electronic mail, by personal
        delivery or
        by sending the same by pre-paid registered mail, if to the Borrower, at his address, fax number or email as is
        reflected
        in the internal records of the Bank and if to the Bank, at its contact details specified on www.hdfcbank.com
    </p>
    <p class="tncParagraph">15.2. Any notice, approval, instruction, demand or other communication so addressed to the
        relevant party shall be deemed
        to have been delivered (a) if given or made by registered mail, 3 (Three) days after posting; (b) if given by
        personal
        delivery at the time of delivery; and (c) if given or made by facsimile, upon receipt of a transmission report
        confirming
        dispatch; (d) if given or made by email, upon receipt of a mail delivery report confirming receipt by the other
        Party. Provided that facsimile transmission or email shall be immediately on the same day followed by a copy of
        the
        notice by a reputable overnight courier.
    </p>
    <h4 class="tncSectionHeader">16. GOVERNING LAW AND ARBITRATION</h4>
    <p class="tncParagraph">16.1. These presents shall be governed by, and construed in accordance with, the laws of
        India.
    </p>
    <p class="tncParagraph">16.2. Any disputes, differences and/or claims arising out of these presents shall be
        referred to the arbitration in accordance
        with the provisions of the Arbitration and Conciliation Act, 1996 as may be amended, or its re-enactment, by a
        sole
        arbitrator, appointed by the Bank. The place of arbitration shall be Mumbai, provided that the exclusivity
        aforesaid
        shall bind the Borrower and the Bank shall be entitled to pursue the same to any other place and the arbitration
        shall
        be conducted in English language. The award including interim award/s of the sole arbitrator shall be final and
        binding
        on all parties concerned. The costs of such arbitration shall be borne by the losing party or otherwise as
        determined
        in the arbitration award. If a party is required to enforce an arbitral award by legal action of any kind, the
        party against
        whom such legal action is taken shall pay all reasonable costs and expenses and attorney’s fees, including any
        cost
        of additional litigation or arbitration taken by the party seeking to enforce the award.
    </p>
    <p class="tncParagraph">16.3. Subject to the provisions of clause 16.2 above, these presents shall be subject to the
        jurisdiction of the courts and
        tribunals at Mumbai, India.
    </p>
    <h4 class="tncSectionHeader">17. DISCLOSURE OF INFORMATION</h4>
    <p class="tncParagraph">17.1. The Borrower, hereby agrees and gives consent for the disclosure by the Bank of all or
        any such information and data
        relating to the Borrower, any credit facility availed of/to be availed, by him/her, and default, if any,
        committed by
        him/her, in discharge of his/her obligation, as the Bank may deem appropriate and necessary, to:
        <div class="font12">(a) The Bank’s employees, agents, contractors, insurance providers or third-party service providers or
            professional
            advisers whether in India or outside India;
        </div>
        <div class="font12">(b) The Bank’s head office, branches, representative offices, subsidiaries, related corporations or
            affiliates or group
            companies, in India, or overseas
        </div>
        <div class="font12">(c) RBI or any credit information company and/ or any other agency authorised in this behalf by RBI or any
            regulatory, supervisory or other authority, court of law, tribunal or person, in India or any other
            jurisdiction, where
            such disclosure is required by law, regulation, judgment or order of court or order of any tribunal;
        </div>
        <div class="font12">(d) Any actual or potential assignee(s) or novatee(s) or transferee(s) of any rights and obligations of the
            Bank or other
            participants in any of its rights and/or obligations under these presents for any purposes connected with
            the
            proposed assignment or transfer;
        </div>
        <div class="font12">(e) any other bank/ banking company, non-banking financial company, housing finance company or any other
            financial institution whether incorporated in India or not
        </div>
    </p>
    <p class="tncParagraph">
        17.2. The Borrower further acknowledges and agrees that:
        <div class="font12">(a) The recipient credit information company and/or any other agency so authorised may use, process the
            said
            information and data disclosed by the Bank in the manner as deemed fit by them;
        </div>
        <div class="font12">(b) The recipient credit information company and/or any other agency so authorised may furnish for
            consideration, the processed information and data or products thereof prepared by them, to banks/financial
            institutions and other credit grantors or registered users, as may be specified by RBI in this behalf;
        </div>
        <div class="font12">(c) Any of the recipients of the information specified in Clause 17.1 (a) and (b) above may utilize the
            Borrower’s
            information (including the contact information) to inform and market to the Borrower any other products and
            services offered by the Bank and the Borrower hereby expressly requests and solicits such communications;
            and
        </div>
        <div class="font12">(d) The Bank and / or RBI will have an unqualified right to disclose or publish the name of the Borrower as
            a willful
            defaulter in such manner and through such medium as the Bank or RBI in its absolute discretion may think
            fit.
        </div>
    </p>
    <h4 class="tncSectionHeader">18. MISCELLANEOUS</h4>
    <p class="tncParagraph">18.1. The Bank does not hold any warranty or make any representation with respect to the
        availability, delivery, quality,
        merchantability or suitability, service of the Products and the Bank shall not be liable for the same in any
        manner
        whatsoever.
    </p>
    <p class="tncParagraph">18.2. The Bank reserves the right to revise the terms and conditions set out above, which
        revisions shall take effect
        immediately on the Borrower being notified of the same.
    </p>
    <p class="tncParagraph">18.3. <span class="bold-text">Set-off and Lien</span>: Notwithstanding anything to the
        contrary in these presents or any
        other document/arrangement:
        (i) in respect of all and any of Borrower’s present and future liabilities to the Bank, affiliates, group
        entities, associate
        entities, parent, subsidiaries, any of their branches (collectively "<span class="bold-text">Relevant
            Entities</span>"), whether under this
        document or
        under any other obligation/loan/facilities/borrowings/document, whether such liabilities are/be crystallised,
        actual or
        contingent, primary or collateral or several or jointly with others, whether as principal debtor and/or as
        guarantor and/or
        otherwise howsoever (collectively "<b style="font-weight: bold;">Liabilities</b>"), each of the Bank and the
        Relevant Entities shall in addition
        to any
        general lien or similar right to which any of them as bankers may be entitled by law, practice, custom or
        otherwise,
        have a specific and special lien on all the Borrower’s present and future stocks, shares, securities, property,
        book
        debts, all moneys in all accounts whether current, savings, overdraft, fixed or other deposits, held with or in
        custody, legal or constructive, with the Bank and/or any Relevant Entities, now or in future, whether in same or
        different
        capacity of the Borrower, and whether severally or jointly with others, whether for any banking relationship,
        safe
        custody, collection, or otherwise, and (ii) separately, each of the Bank and the Relevant Entities shall have an
        express
        right to, without notice to and without consent of the Borrower, set-off, transfer, sell, realize, adjust,
        appropriate all
        such amounts in all accounts (whether prematurely or upon maturity as per the Bank’s discretion), securities,
        amounts and property as aforesaid (whether ear-marked for any particular Liability or not) for the purpose of
        realizing
        or against any of dues in respect of any of the Liabilities and to combine or consolidate all or any of accounts
        of the
        Borrower and to set-off any monies, whether of same type or nature or not and whether held in same capacity or
        not including upon happening of any of the events of default mentioned in any of the documents pertaining to the
        respective Liabilities or upon any default in payment of any part of any of the Liabilities.
    </p>
    <p class="tncParagraph">18.4. The Borrower agrees and acknowledges that all taxes, rates, duties, (including stamp
        duties) charges and other
        imposts and obligations, existing as well as future on and/or in connection with these terms and conditions
        shall be
        solely and entirely be borne and payable by the Borrower and in case the same or any part thereof may be levied
        on the Bank shall be payable by the Borrower forthwith on a demand being made by the Bank
    </p>
    <p class="tncParagraph">18.5. The Borrower agrees and undertakes that he/ she shall not be entitled to transfer or
        assign any of its rights or
        obligations under these presents to any person. The Borrower further agrees that the Bank may at any time,
        without
        any consent of or notice to the Borrower(s) be entitled to securitize, sell, assign, discount, transfer, assign
        or novate
        its rights, benefits or obligations herein to any person in such manner and on such terms as the Bank may
        decide.
        The Borrower hereby expressly consents to any such assignment, transfer and novation.
    </p>
    <p class="tncParagraph">18.6. The provisions of these presents shall be severable, and any provision hereof
        prohibited by any law shall be ineffective
        to the extent of such prohibition without invalidating the remaining provisions hereof.
    </p>
    <p class="tncParagraph">19. The Borrower hereby authorizes and gives consent to the Bank to disclose, without notice
        to the borrower, information
        furnished by him/her in various documents executed / to be executed in relation to the facilities to be availed
        from the
        Bank, to the Bank's other branches/subsidiaries/affiliates/credit bureaus/rating agencies, service providers,
        banks/financial institutions, governmental/regulatory authorities or third parties for information verification,
        credit risk
        analysis, or for any other purposes that the Bank may deem fit. The Borrower hereby waives off the privilege of
        privacy.
    </p>
    <h4 class="tncSectionHeader">20. ACCEPTANCE AND SIGNING</h4>
    <p class="tncParagraph">20.1. The Borrower hereby expressly acknowledges and confirms that the Borrower has read,
        verified, understood,
        irrevocably agreed to and accepted and delivered all the terms and conditions contained in Clauses 1 to 20
        (including
        sub clauses), schedule of charges, Standing Instruction (collectively, "<b style="font-weight: bold;">Facility
            Documents</b>") online by
        ticking/clicking/checking the “I agree” or “I agree and accept” or any similar icon/tab/option on the online
        system/Website/portal/platform of the Merchant/ its agent/ service provider as well as by entering the one time
        password ("<b style="font-weight: bold;">OTP</b>") provided to the Borrower’s mobile number registered with the
        Bank, and that there is no
        requirement of Borrower’s any other signature or physical signature for the Facility Documents or of the
        Borrower
        signing the Facility Documents in physical form. The Borrower also acknowledges that the execution of the
        agreement
        would be complete only once the same is accepted by the Bank. The Bank also does not require to sign the
        Facility
        Documents in any physical form. The Bank shall be deemed to have accepted and signed this document online by
        way of sending an email/ letter from its officer in Mumbai to the Borrower and attaching therewith the copy of
        this
        document. For the purpose of stamp duty, any writing on a stamp paper or franked page associating the stamp
        paper or such franked page with this document will be as good as making the stamp paper/franked page an integral
        part of this document.
    </p>
    <p class="tncParagraph">20.2. The Bank may rely on the paper copies printed by the Merchant or by the Bank of the
        electronic record or produce in
        any such form at its discretion this document or any Facility Documents and Borrower’s signing as aforesaid, and
        the
        same shall be fully binding on the Borrower and the Borrower has no objection to such print-outs or any such
        other
        form (in the discretion of Bank) being produced by the Bank in evidence in any court, tribunal or otherwise, to
        prove
        the acceptance, execution as well as the contents of the contract.
    </p>
</div>