<div id="tnc-txt">
    <div>
        <br />
    </div>
    <div class="text14">
        <b>
            EMI payment due date will be determined basis the Loan booking date period as given
            below.
        </b>
    </div>
    <br />
    <div class="text14">
        Loans boarded between 1st-19th will have 20th as Statement Date and 5th of following month as
        Payment Due Date. Eg. Loan Boarding Date - 10th May; Statement Date - 20th May; Payment Due
        Date - 5th Jun.
    </div>
    <br />
    <div class="text14">
        Loans boarded between 21st-31st will have 20th of following month as Statement Date and 5th of
        subsequent following month as Payment Due Date Eg. Loan Boarding Date - 23rd May; Statement
        Date - 20th Jun; Payment Due Date - 5th Jul
    </div>
    <br />
    <div class="text14">
        EMI will be billed in the monthly Consumer Durable & Lifestyle Products Loan / Debit Card EMI Loan
        statement starting from the immediate billing cycle date. The Fixed Rate of Interest, as prescribed by
        the Bank, from time to time will get levied on reducing balance basis.
    </div>
    <br />
    <div class="text14">
        If the saving account does not have sufficient funds, Customer will be liable to pay applicable charges
        as indicated below. Auto Debit return penal interest of 2% plus GST ( @18%subject to change from
        Govt. instruction) on EMI amount, subject to a minimum Rs. 450 will be levied.
    </div>
    <br />
    <div class="text14">
        Customer is eligible to foreclose the loan post payment of 3 EMI's. Incase product is cancelled after loan
        booking charges will be applied.
    </div>
    <br />
    <div class="text14">
        Prior to completion of the Loan / Pre closure whichever is earlier, Customer cannot withdraw / cancel
        auto debit instruction on the Consumer Durable Loan or Debit Card EMI Loan.
    </div>
    <br />
    <div class="text14">
        Non-Payment or partial payment of EMI outstanding will attract late payment penalty of Rs. 500 plus GST
        (currently at 18%, subject to change from Govt. instruction) irrespective of the EMI outstanding,
        Applicable on (i) Pre-closure charges (ii) Late payment charges
    </div>
    <br />
    <div class="text14">
        Partial pre-payment or partial closure is not permitted on this loan. In case of pre-closure of the loan, a
        charge,
        currently 3% of the balance principal outstanding plus GST will be applicable. As the pre-closure charge is
        subject to change, we request you to contact the Phone Banking for the applicable charge if you decide to
        preclose the loan.
    </div>
    <br />
    <div class="text14">
        HDFC Bank reserves the right to revise the pre-closure penalty at its discretion. Additional interest if
        any on the principal outstanding from last statement date till date of loan pre closure need to be paid
        by the customer. The loan once approved and processed cannot be cancelled. Tenure confirmed at
        the time of booking cannot be changed. Notwithstanding anything stated above, the continuation of
        the loan shall be at sole discretion of the bank and outstanding will be payable to the bank on
        demand.
    </div>
    <br />
    <div class="text14">
        The Bank shall have the right to vary the Interest Rate from time to time, at its sole discretion or as
        per the guidelines / rules / regulations / laws issued by the Reserve Bank of India. In the event that the
        Interest Rate is varied as aforesaid, the Bank shall furnish to the Borrower a revised computation of the
        EMIs and the Borrower undertakes to pay the EMIs as re-calculated by the Bank to adjust for the
        change in the Interest Rate.
    </div>
    <br />
    <div class="text14">
        All disputes, differences and/or claims arising out of these presents shall be referred to the arbitration of
        a sole arbitrator to be nominated by the Bank, which arbitration shall be governed by the Arbitration and
        Conciliation Act, 1996. The award including interim award/s of the sole arbitrator shall be final and
        binding on all parties concerned. Subject to the provisions above, these presents shall be subject to the
        jurisdiction of the courts and tribunals at Mumbai, India
    </div>

    <h5>DECLARATION</h5>
    <div class="text14">
        I hereby expressly acknowledge and confirm that I have carefully gone through the provisions of the
        Schedule of Charges (which I have fully understood) and hereby record my agreement and consent to
        abide by the provisions of the Schedule of Charges.
    </div>
</div>