<div id="tnc-txt">
    <h4 align="center" id="title"> TERMS AND CONDITIONS FOR CONSUMER DURABLE AND LIFESTYLE PRODUCT LOAN / DEBIT CARD
        EMI LOAN
    </h4>
    <div class="text14">
        HDFC Bank Limited ("<b>Bank</b>") has agreed to sanction the Loan to you ("<b>Borrower</b>") on the basis of and
        subject to the terms and conditions set out below. The Schedule of Charges shall form an integral part of
        the terms and conditions:
    </div>
    <div>
        <h4>
            1. GRANT OF THE LOAN
        </h4>
        <div class="text14">
            1.1 At the request of the Borrower, the Bank has agreed to provide the Loan to be utilised solely
            towards purchase of consumer durable product(s) not including jewellery or any other
            products the purchase of which is not eligible for bank finance ("<b>Product(s)</b>"). Without
            prejudice to the generality of the foregoing, the Borrower shall not utilise the proceeds of the
            Loan for any purpose which is in violation of applicable law.
        </div>
        <br />
        <div class="text14">
            1.2 The Loan shall be provided only to existing customers of the Bank who the Bank, in its sole
            discretion, determines are eligible for the grant of the Loan. Such Loan shall be disbursed
            directly disbursing the Loan to the Merchant. It is clarified that, the Loan disbursed by the Bank
            directly to the Merchant shall be deemed to be a disbursement by the Bank to the Borrower
        </div>
        <br />
        <div class="text14">
            1.3 The Borrower acknowledges and agrees that the aforesaid Loan amount is of a non-revolving
            nature and once used will not once again become available on repayment of the Loan or any
            part thereof.
        </div>
        <br />
        <h4>
            2. PAYMENT OF PRINCIPAL AND INTEREST
        </h4>
        <div class="text14">
            <div>
                2.1 The Borrower hereby agrees to make payment of the principal amount due on the Loan along
                with interest computed at the Fixed Rate of Interest in the form of equated monthly
                installments ("EMIs") through the tenure of the Loan which tenure has been explicitly opted
                by the Borrower. It is agreed and understood by the Borrower that the obligation of the
                Borrower to pay the EMI is absolute and unconditional and there shall be no amendment to
                the schedule of the EMI payable to the Bank. For the First EMI, the Interest will be calculated
                from the loan booking date till the payment due date. A convenience fee of Rs. 199 + GST will
                be applied at transaction level. Same will not be reversed in case of full refund or pre closure.
                Notwithstanding anything to the contrary in the document or any other document, the
                Borrower irrevocably and unconditionally agrees that the payment of EMI shall not be
                dependent or conditional upon any dispute between the Borrower and the Merchant or any
                other event, and the Borrower undertakes to make the payment of the EMI regardless and
                despite any such dispute or event, on due dates. Customer is eligible to foreclose the loan post
                payment of 3 EMI's. Incase product is cancelled after loan booking charges will be applied.
            </div>
        </div>
        <br />
        <div class="text14">
            2.2 The Borrower shall provide irrevocable standing instructions for facilitating the payment of the
            EMIs in respect of the DebitCard EMI Loan or the Consumer Durable and Lifestyle Product
            Loan (as the case may be) on the relevant due dates. The Borrower undertakes to have and
            maintain sufficient balance in the savings account maintained with the Bank in respect of
            which the Debit Card EMI Loan linked standing instructions or the Consumer Durable and
            Lifestyle Product Loan linked standing instructions (as the case may be) have been provided
            for the payment of the EMI (on either the DebitCard EMI Loan or the Consumer Durable and
            Lifestyle Product Loan, as the case may be) on any of the due dates. If any payment of the EMI
            which is to be made by the Borrower under either the DebitCard EMI Loan linked standing instructions or the
            Consumer Durable and Lifestyle Product Loan linked standing
            instructions (as the case may be), is not made on the relevant due date for any reason
            whatsoever, the Bank, may without prejudice to the other rights available to it hereunder or
            under applicable law, block the usage of any or all Bank issued cards held by the Borrower
        </div>
        <br />
        <div class="text14">
            2.3. The Borrower shall not be entitled to make any prepayment of the principal amount due on the
            Loan unless demanded by the Bank in terms of Clause 2.5 (Payment of Principal and Interest)
            below. Without prejudice to the preceding sentence and any other rights which the Bank may
            have on a breach thereof, any prepayment made by the Borrower shall attract the foreclosure
            charges set out in the Schedule of Charges which the Borrower shall be bound to pay over and
            above any other amounts payable by the Borrower under the terms hereof.
        </div>
        <br />
        <div class="text14">
            2.4. The Bank shall have the right to vary the Interest Rate from time to time, at its sole discretion or
            as per the guidelines / rules / regulations / laws issued by the Reserve Bank of India. In the
            event that the Interest Rate is varied as aforesaid, the Bank shall furnish to the Borrower a
            revised computation of the EMIs and the Borrower undertakes to pay the EMIs as recalculated by the Bank to
            adjust for the change in the Interest Rate.
        </div>
        <br />
        <div class="text14">
            2.5. Notwithstanding anything to the contrary contained herein, the Borrower acknowledges and
            agrees that the Bank may in its sole and absolute discretion and without assigning any reason
            therefor make a demand on the Borrower at any time to forthwith repay all or part of the
            amounts outstanding in relation to the Loan and the Borrower shall be bound to make
            payment of such amounts demanded forthwith.
        </div>
        <br />
        <div class="text14">
            2.6. The cancellation of the transaction for the purchase of the Product for which Loan has been
            utilised either by the Borrower or the merchant concerned shall lead to an automatic
            cancellation of the entire Loan and all amounts due from the Borrower in respect of the Loan
            shall forthwith become due and payable to the Bank. It is further clarified that amounts
            already paid towards interest on the Loan shall not be reversed or repaid by the Bank to the
            Borrower.
        </div>
        <br />
        <div class="text14">
            2.7. Without prejudice to Clause 2.2 (Payment of Principal and Interest) above and Clause 9.3 (Set-off
            and Lien) below, the Borrower hereby irrevocably and unconditionally authorises and instructs
            the Bank to debit any and all of the accounts maintained by the Borrower with the Bank
            (including without limitation fixed deposit accounts including by way of premature breakage)
            in respect of any amounts which are or become due from the Borrower to the Bank in terms
            hereof.
        </div>
        <br />
        <h4>
            3. OTHER PAYMENTS
        </h4>
        <div class="text14">
            3.1. In the event of the occurrence of an Event of Default, in relation to the Loan, the Borrower shall
            be required to make payment of the default interest as specified in Schedule of Charges,
            compounded monthly, calculated on the amounts outstanding, up to the earlier of: (a) the
            date such Event of Default is cured or (b) all amounts outstanding from the Borrower are
            repaid to the Bank.
        </div>
        <br />
        <div class="text14">
            3.2. The Borrower hereby agrees to make payment of all the fees and charges specified in the
            Schedule of Charges (along with GST as applicable)
        </div>
        <br />
        <div class="text14">
            3.3. The Borrower shall bear and pay all costs, expenses, fees, taxes (as applicable from time to time),
            duties (including stamp duties), charges and other imposts and obligations, existing as well as
            future, which may become payable by the Bank in respect of the Loan, including without
            limitation (a) the execution, delivery and performance of any documentation in relation to the
            Loan, (b) the servicing and administration of the Loan; and (c) the enforcement of the Bank’s
            rights in respect of the Loan.
        </div>
        <br />
        <div class="text14">
            3.4 In case the Borrower seeks any refund for a Product from the Merchant or its Agent or the
            manufacturer, he shall use the refund mandatorily and fully for pre-payment of the Loan.
        </div>
        <br />
        <h4>
            4. REPRESENTATIONS AND WARRANTIES
        </h4>
        <div class="text14">
            4.1. The Borrower hereby represents and warrants on the date of these presents and thereon on each
            day during the continuance of the Loan that: (a) The Borrower is a citizen of India and is a
            person resident in India for all purposes under applicable law; (b) All information set out in
            these presents and furnished to the Bank in connection with the Loan, whether through
            physical or electronic means, is true and correct, and is not false or misleading in any manner;
            and (c) The Borrower is competent to contract under law and the Borrower entering into and
            performance by the Borrower of the transactions contemplated by these presents do not and
            will not conflict with any applicable law or regulation applicable to the Borrower.
        </div>
        <br />
        <h4>
            5. EVENTS OF DEFAULT
        </h4>
        <div class="text14">
            5.1. An Event Of Default shall have occurred upon the happening of any event or circumstances
            mentioned hereunder: (a) The Borrower does not pay, on any due date, any amount payable pursuant
            to these presents; (b) If any litigation, arbitration or administrative proceedings are filed against the
            Borrower which proceedings may in the sole opinion of the Bank adversely affect the interests of the
            Bank; (c) If the Borrower dies or commences a voluntary proceeding under any applicable bankruptcy,
            insolvency or other similar law now or hereafter in effect, or admits inability to pay his/her debts as
            they fall due, or consents to the entry of an order for relief in an involuntary proceeding under any
            such law, or consents to the appointment of or the taking of possession by a receiver, liquidator,
            assignee (or similar official) for any or a substantial part of his/her property; (d) If any representations
            and/or warranties contained in these presents are found to be untrue, misleading or incorrect, when
            made or deemed to be made; (e) If the Borrower is unable to meet any of its obligations when due to
            the Bank or any other bank, financial institution or other lender; and (f) Any breach of the terms and
            conditions contained in these presents.
        </div>
        <br />
        <div class="text14">
            5.2. On the occurrence of an Event of Default, all amounts due in respect of the Loan shall forthwith
            become due and payable to the Bank and the Bank shall be entitled to exercise all of its rights
            powers and remedies available hereunder and under law against the Borrower to recover the
            same.
        </div>
        <br />
        <h4>
            6. NOTICE
        </h4>
        <div class="text14">
            6.1. All notices, approvals, instructions, demand and other communication given or made under these
            presents shall be in writing and may, subject to Clause 6.2 (Notices) hereof, be given by
            facsimile, electronic mail, by personal delivery or by sending the same by pre-paid registered
            mail, if to the Borrower, at his address, fax number or email as is reflected in the internal
            records of the Bank and if to the Bank, at its contact details specified on www.hdfcbank.com.
        </div>
        <br />
        <div class="text14">
            6.2. Any notice, approval, instruction, demand or other communication so addressed to the relevant
            party shall be deemed to have been delivered (a) if given or made by registered mail, 3 (Three)
            days after posting; (b) if given by personal delivery at the time of delivery; and (c) if given or
            made by facsimile, upon receipt of a transmission report confirming dispatch; (d) if given or
            made by email, upon receipt of a mail delivery report confirming receipt by the other Party.
            Provided that facsimile transmission or email shall be immediately on the same day followed
            by a copy of the notice by a reputable overnight courier.
        </div>
        <br />
        <h4>
            7. GOVERNING LAW AND ARBITRATION
        </h4>
        <div class="text14">
            7.1. These presents shall be governed by, and construed in accordance with, the laws of India.
        </div>
        <br />
        <div class="text14">
            7.2. All disputes, differences and/or claims arising out of these presents shall be referred to the
            arbitration of a sole arbitrator to be nominated by the Bank, at a place/ venue within India at
            the discretion of the Bank, to be conducted in English language which arbitration shall be
            governed by the Arbitration and Conciliation Act, 1996. The award including interim award/s
            of the sole arbitrator shall be final and binding on all parties concerned.
        </div>
        <br />
        <div class="text14">
            7.3. Subject to the provisions of Clause 7.2 (Governing Law and Arbitration) above, these presents
            shall be subject to the jurisdiction of the courts and tribunals at Mumbai, India.
        </div>
        <br />
        <h4>
            8. DISCLOSURE OF INFORMATION
        </h4>
        <div class="text14">
            <div class="text14">
                8.1. The Borrower, hereby agrees and gives consent for the disclosure by the Bank of all or any such
                information and data relating to the Borrower, any credit facility availed of/to be availed, by
                him/her, and default, if any, committed by him/her, in discharge of his/her obligation, as the
                Bank may deem appropriate and necessary, to:
            </div>
            <div class="text14">
                (a) the Bank’s employees, agents, contractors, insurance providers or third party service
                providers or professional advisers whether in India or outside India;
            </div>
            <div class="text14">
                (b) the Bank’s head office, branches, representative offices, subsidiaries, related
                corporations or affiliates or group companies, in India, or overseas
            </div>
            <div class="text14">
                (c) the Reserve Bank of India or any Credit Information Company and/ or any other
                agency authorised in this behalf by the Reserve Bank of India or any regulatory,
                supervisory or other authority, court of law, tribunal or person, in India or any other jurisdiction,
                where such disclosure is required by law, regulation, judgment or order of
                court or order of any tribunal;
            </div>
            <div class="text14">
                (d) any actual or potential assignee(s) or novatee(s) or transferee(s) of any rights and
                obligations of the Bank or other participants in any of its rights and/or obligations
                under these presents for any purposes connected with the proposed assignment or
                transfer;
            </div>
            <div class="text14">
                (e) any other bank/ banking company, non-banking financial company, housing finance
                company or any other financial institution whether incorporated in India or not.
            </div>
        </div>
        <br />
        <div class="text14">
            <div class="text14">
                8.2. The Borrower further acknowledges and agrees that:
            </div>
            <div class="text14">
                (a) The recipient Credit Information Company and any other agency so authorised may
                use, process the said information and data disclosed by the Bank in the manner as
                deemed fit by them;
            </div>
            <div class="text14">
                (b) The recipient Credit Information Company or any other agency so authorised may
                furnish for consideration, the processed information and data or products thereof
                prepared by them, to banks/financial institutions and other credit grantors or
                registered users, as may be specified by the Reserve Bank of India in thisbehalf;
            </div>
            <div class="text14">
                (c) Any of the recipients of the information specified in Clause 8.1 (a) and (b) (Disclosure
                of Information) above may utilise the Borrower’s information (including the contact
                information) to inform and market to the Borrower any other products and services
                offered by the Bank and the Borrower hereby expressly requests and solicits such
                communications; and
            </div>
            <div class="text14">
                (d) The Bank and / or the Reserve Bank of India will have an unqualified right to disclose
                or publish the name of the Borrower as a willful defaulter in such manner and through
                such medium as the Bank or the Reserve Bank of India in its absolute discretion may
                think fit.
            </div>
        </div>
        <br />
        <h4>
            OTHER CONDITIONS
        </h4>
        <div class="text14">
            The Borrower hereby confirms that the Bank may obtain any guarantee or security from
            Merchant or any other person and the Borrower confirms that it shall be deemed to have been
            given by the Merchant or such other person at the request of the Borrower.
        </div>
        <br />
        <h4>
            9. MISCELLANEOUS
        </h4>
        <div class="text14">
            9.1. The Bank does not hold any warranty or make any representation with respect to the availability,
            delivery, quality, merchantability or suitability, service of the Products and the Bank shall not be
            liable for the same in any manner whatsoever.
        </div>
        <br />
        <div class="text14">
            9.2. The Bank reserves the right to revise the terms and conditions set out above, which revisions shall
            take effect immediately on the Borrower being notified of the same.
        </div>
        <br />
        <div class="text14">
            <div class="text14">
                9.3.<b><u>Set-off and Lien:</u></b> : Notwithstanding anything to the contrary in these presents or any
                other
                document/arrangement: (i) in respect of all and any of Borrower’s present and future liabilities
                to the Bank, affiliates, group entities, associate entities, parent, subsidiaries, any of their
                branches (collectively "<b>Relevant Entities</b>"), whether under this document or under any other
                obligation/loan/facilities/borrowings/document, whether such liabilities are/be crystallised,
                actual or contingent, primary or collateral or several or jointly with others, whether as
                principal debtor and/or as guarantor and/or otherwise howsoever (collectively
                "<b>Liabilities</b>"), each of the Bank and the Relevant Entities shall in addition to any general lien
                or similar right
                to which any of them as bankers may be entitled by law, practice, custom or otherwise, have
                a specific and special lien on all the Borrower’s present and future stocks, shares, securities,
                property, book debts, all moneys in all accounts whether current, savings, overdraft, fixed or
                other deposits, held with or in custody, legal or constructive, with the Bank and/or any
                Relevant Entities, now or in future, whether in same or different capacity of the Borrower, and
                whether severally or jointly with others, whether for any banking relationship, safe custody,
                collection, or otherwise, and (ii) separately, each of the Bank and the Relevant Entities shall
                have an express right to, without notice to and without consent of the Borrower, set-off,
                transfer, sell, realize, adjust, appropriate all such amounts in all accounts (whether
                prematurely or upon maturity as per the Bank’s discretion), securities, amounts and property
                as aforesaid (whether ear-marked for any particular Liability or not) for the purpose of
                realizing or against any of dues in respect of any of the Liabilities and to combine or consolidate
                all or any of accounts of the Borrower and to set-off any monies, whether of same type or
                nature or not and whether held in same capacity or not including upon happening of any of
                the events of default mentioned in any of the documents pertaining to the respective
                Liabilities or upon any default in payment of any part of any of the Liabilities
            </div>
            <div class="text14">
                The Borrower agrees and acknowledges that all taxes, rates, duties, (including stamp duties)
                charges and other imposts and obligations, existing as well as future on and/or in connection
                with these terms and conditions shall be solely and entirely be borne and payable by the
                Borrower and in case the same or any part thereof may be levied on the Bank shall be payable by
                the Borrower forthwith on a demand being made by the Bank
            </div>
        </div>
        <br />
        <div class="text14">
            9.4. The Borrower agrees and undertakes that he/ she shall not be entitled to transfer or assign any of
            its rights or obligations under these presents to any person. The Borrower further agrees that
            the Bank may at any time transfer, assign or novate its rights, benefits or obligations herein to
            any person and the Borrower hereby expressly consents to any such assignment, transfer and
            novation.
        </div>
        <br />
        <div class="text14">
            9.5. The provisions of these presents shall be severable and any provision hereof prohibited by any
            law shall be ineffective to the extent of such prohibition without invalidating the remaining
            provisions hereof.
        </div>
        <br />
        <div class="text14">
            9.6. Post successful Debit EMI loan booking a debit and credit for the loan amount value, will also
            be posted on the registered bank account.
        </div>
        <br />
        <div class="text14">
            9.7. The borrower hereby authorizes and gives consent to the Bank to disclose, without notice to
            the borrower, information furnished by him/her in various documents executed / to be
            executed in relation to the facilities to be availed from the Bank, to the Bank's other
            branches/subsidiaries/affiliates/ Credit Bureaus/Rating Agencies, Service Providers, banks/financial
            institutions, governmental/regulatory authorities or third parties for
            information verification, credit risk analysis, or for any other purposes that the Bank may deem fit.
            The borrower hereby waives off the privilege of privacy.
        </div>
        <br />
        <h4>
            10. ACCEPTANCE AND SIGNING
        </h4>
        <div class="text14">
            <div class="text14">
                10.1 The Borrower hereby expressly acknowledges and confirms that the Borrower has read,
                verified, understood, irrevocably agreed to and accepted and delivered all the terms and
                conditions contained in Clauses 1 to 10 (including sub clauses), schedule of charges, Standing
                Instruction (collectively, “Loan Documents”) online by ticking/clicking/checking the “I agree” or “I
                agree and accept” or any similar icon/tab/option on the online system/Website/portal/platform
                of Merchant/ its agent/ service provider as well as by entering the one time password (“OTP”)
                provided to the Borrower’s mobile number registered with the Bank, and that there is no
                requirement of Borrower’s any other signature or physical signature for the Loan Documents or of
                the Borrower signing the Loan Documents in physical form. The Borrower also acknowledges that
                the execution of the agreement would be complete only once the same is accepted by the Bank.
                The Bank also does not require to sign the Loan Documents in any physical form. The Bank shall
                be deemed to have accepted and signed this document online by way of sending an email/ letter
                from its officer in Mumbai to the Borrower and attaching therewith the copy of this document.
                For the purpose of stamp duty, any writing on a stamp paper or franked page associating the stamp
                paper or such franked page with this document will be as good as making the stamp paper/franked
                page an integral part of this document.
            </div>
            <div class="text14">
                The Bank may rely on the paper copies printed by the Merchant or by the Bank of the electronic
                record or produce in any such form at its discretion this document or any Loan Documents and
                Borrower’s signing as aforesaid, and the same shall be fully binding on the Borrower and the
                Borrower has no objection to such print-outs or any such other form (in the discretion of Bank)
                being produced by the Bank in evidence in any court, tribunal or otherwise, to prove the
                acceptance, execution as well as the contents of the contract.

            </div>
        </div>
        <br />
        <h4>
            DECLARATION
        </h4>
        <div class="text14">
            I hereby expressly acknowledge and confirm that I have carefully gone through the Terms and
            conditions (which I have fully understood) and hereby record my agreement and consent to abide by the
            terms and conditions and hereby authorise HDFC Bank to debit my account with HDFC Bank which is linked
            to my debit card which I have provided for verification above, for payment of installments /EMIs
            understanding instruction mode.
        </div>
        <br />
    </div>
</div>