<div id="tnc-txt">

    <h5 align="center" id="title" class="tncSubHeader">
        FLEXMONEY TECHNOLOGIES PRIVATE LIMITED GENERAL TERMS &amp; CONDITIONS
    </h5>
    <h4 class="tncSectionHeader">
        1. All the defined and capitalised terms in these terms and conditions ("T&C") will have the meaning assigned to them below:
    </h4>
    <p class="tncParagraph">
        (a) "Lending Partner" shall mean the ICICI Bank.
    </p>
    <p class="tncParagraph">
        (b) "Flexmoney" shall mean Flexmoney Technologies Private Limited, a company registered under the Companies Act, 2013, having its registered office at 42, FLR 6, CS 2/108, 4, A.H. WadiaBaug, G D Ambedkar Marg, Kalachowki, Mumbai -400 033, Maharashtra, India, which provides a platform for activating, utilizing and managing a digital credit line on behalf of the Lending partner, thereby enabling You to make payment for the transactions with Merchants.
    </p>
    <p class="tncParagraph">
        (c) "InstaCred" shall refer to the services provided by Flexmoney's platform to You on behalf of the Lending partner, including but not limited to the activation, utilization and management of the digital credit line offered to You by the Lending partner.
    </p>
    <p class="tncParagraph">
        (d) "Merchant" shall mean a third party company, person, organisation or entity, selected on the terms identified by Flexmoney and the Lending Partner, which sells products and/ or services to the Borrower.
    </p>
    <p class="tncParagraph">
        (e) "Borrower" means an individual (including his/her legal representatives, administrators, executors and heirs, and shall be construed so as to include his/her permitted assigns and permitted transferees) who shall mean the existing Borrower/s of the Lender to whom an InstaCred Digital credit line is issued by the Lending Partner and is accessing/ using the InstaCred service or signs up for using the service.
    </p>
    <h4 class="tncSectionHeader">
        2. The loan to the Borrower is sanctioned at the sole discretion of the Lending Partner. The Lending Partner reserves the right to decide Borrower's eligibility as per the Lending Partner's internal policies and guidelines.
    </h4>
    <h4 class="tncSectionHeader">
        3. Borrower availing the loan from the Lending Partner shall be deemed to be Borrower's unconditional and irrevocable acceptance of the T&Cs of the InstaCred service as contained herein and Borrower shall be bound by and shall abide the same.
    </h4>
    <h4 class="tncSectionHeader">
        4. The Lending Partner shall disburse the respective loan amount to a designated Nodal account and upon the successful transaction initiated by the Borrower through InstaCred, Flexmoney shall transfer the amount to respective Merchant accounts.
    </h4>
    <h4 class="tncSectionHeader">
        5. The Loan amount shall be within the monetary limits set by the Lending Partner while granting to the Borrower the credit line and Lending Partner reserves the right to vary monetary limits from time to time, as required.
    </h4>
    <h4 class="tncSectionHeader">
        6. By availing InstaCred, Borrower hereby unconditionally agree, confirm, declare and undertake as follows:
    </h4>
    <p class="tncParagraph">
        (a) Borrower shall utilise the Loan availed from the Lending Partner only for genuine lawful personal needs in India and not otherwise.
    </p>
    <p class="tncParagraph">
        (b) Borrower shall avail the Loan from the Lending Partner as per the applicable interest rate and tenure at the checkout page and by accepting other applicable Terms and Conditions mentioned there in.
    </p>
    <p class="tncParagraph">
        (c)  Borrower shall maintain sufficient credit balance in Borrower's Bank Account for repayment of the InstaCred Digital loan availed from the Lending Partner.
    </p>
    <p class="tncParagraph">
        (d) All the information provided by the Borrower at the time of registration with Instacred is true and correct, and Borrower shall continue to provide any relevant information required by the Lending partner for their compliance with applicable law (including, KYC norms/Anti-Money Laundering Standards/Combating of Financing of Terrorism (CFT)/obligation of lending partners under the Prevention of Money Laundering Act, 2002) promulgated by the Government of India/Reserve Bank of of India/other statutory or regulatory authorities.
    </p>

    <p class="tncParagraph">
        (e) Borrower gives consent to Flexmoney to utilise the information shared by the Borrower and also any other information about the Borrower any transaction done by the Borrower via Flexmoney platform (including details of items purchased, address for delivery of items purchased etc) or coming in the hands of Flexmoney from a merchant or any other party, and shall have no objection to Flexmoney sharing the same with the Lending Partner, merchants, affiliates, partners, regulatory bodies, government and credit agencies and other such authority as may be required, once the Borrower starts using the facility.
    </p>

    <h4 class="tncSectionHeader">
        7. Neither the Lending Partner nor Flexmoney shall be responsible or liable for any loss or damage, howsoever caused or suffered by the Borrower arising out of the transactions with Merchants or the Merchant's failure to provide necessary products/services to the Borrower for any reason whatsoever.
    </h4>
    <h4 class="tncSectionHeader">
        8. Borrower is responsible for maintaining the secrecy of their passwords, PIN, login and account information relating to the InstaCred service and the Operative Account. Borrower will be responsible for the use of the InstaCred service by any other person using the Borrower's password, PIN and login information (with or without Borrower's permission) and such transaction shall be binding on the Borrower.
    </h4>
    <h4 class="tncSectionHeader">
        9. The InstaCred transaction once confirmed and processed cannot be cancelled. The applicable interest and tenure confirmed at the time of availing the loan from the Lending Partner cannot be changed.
    </h4>
    <h4 class="tncSectionHeader">
        10. The InstaCred amount outstanding can be pre-closed at any time and applicable pre-closure charges may be levied by the Lending Partner.
    </h4>
</div>
