<div id="tnc-txt">
    <h5 align="center" id="title" class="tncSubHeader"> PRIMARY TERMS AND CONDITIONS FOR CARDLESS EMI </h5>
    <p class="font14">
        These <span class="bold-text">'Primary Terms and Conditions'</span> shall govern the Facility (as defined below) availed by the Borrower(s) (as defined below)
        from ICICI Bank Limited (hereinafter termed as <span class="bold-text">"ICICI Bank"</span>) on the
        Platform (as defined below) to make payments to the Service Provider(s) (as defined below) for online
        purchases made by such Borrower(s), with the documentation and communication being communicated
        electronically.
    </p>
    <p class="font14">
        By availing the Facility on the Platform and pressing the 'Accept'/'Agree'/ 'Agree
        and Proceed' icon/button and/or by submitting one-time password received on the Borrower/s mobile number
        registered with ICICI Bank and/or by submitting your PAN, Borrower/s confirms that the they have read, understood and agreed to the 'Most Important Terms and
        Conditions of the Facility' (the <span class="bold-text">"MITC"</span>) and these 'Primary Terms and Conditions' at the time of applying for the same.
    </p>
    <p class="font14">In the event of any inconsistency between, the MITC and these Primary Terms and Conditions, the terms set forth in these
        Primary Terms and Conditions shall prevail.</p>

    <h4 class="tncSectionHeader bold-text">1. DEFINITIONS </h4>
    <p class="font14">
        For the purpose of these Primary Terms and Conditions, unless there is anything repugnant to the subject or context thereof,
        the expressions listed below shall have the following meaning:
    </p>
    <ul>
        <li>
            <p class="font12">
                <span class="bold-text">"Cardless EMI"</span> shall refer to the extension of the Facility  to the Borrower(s) on the Platform to
                make payments for Products purchased from Service Provider(s).
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Borrower(s)"</span> means any Customer(s) <i>(as defined below)</i> to whom the Facility has been
                sanctioned by ICICI Bank.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Business Day"</span> shall mean a day other than: (i) Saturday, Sunday or (ii) any other day on which banks in Mumbai are
            closed.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"CIBIL"</span> shall mean Credit Information Bureau (India) Limited.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Customer(s)"</span>
                shall mean individuals and sole proprietorship firms who may purchase the
                Products from the Service Provider(s) on the Platform.
            </p>
        </li>
        <li>
            <p class="font12"><span class="bold-text">"ECS"</span> means Electronic Clearing Services</p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"EMI"</span> means equated monthly installments of amounts payable by the Borrower(s), comprising of principal amount of
                the Facility and the interest thereon, to ICICI Bank with respect to the
                Facility.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Facility"</span> shall mean the financial assistance extended by ICICI Bank to in accordance with these Primary Terms and
                Conditions and such other terms as stipulated from time to time
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Aggregator"</span>
                shall mean an individual, and/or a limited liability partnership, and/or a
                partnership firm, and/or a private limited company, as the case may be, on- boarded by ICICI
                Bank to display the Cardless EMI as a payment option on the Platform during the online
                purchase journey of the Customer
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Platform"</span>
                shall mean the digital platform owned and operated by the Aggregator and/ or
                integrated with the Aggregator on which Cardless EMI is available as a payment option to the
                Customers to avail the Products.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"ICICI Bank Limited Group Companies"</span> shall mean and include:<br/>
                a) any company which is the holding company of ICICI Bank or subsidiary of ICICI Bank, or<br/>
                b) a person under the control of or under the common control with ICICI Bank, or<br/>
                c) any person, in more than 26% of the voting securities of which ICICI Bank has a direct or beneficial interest.<br/>
                For the purpose of this definition, <span class="bold-text">"Control"</span> together with grammatical variations when used with respect to any Person,
                means the power to direct the management and policies of such person. Directly or indirectly, whether through the
                ownership of the vote carrying securities, by contract or otherwise howsoever; and <span class="bold-text">"Person"</span> means a company,
                corporation, a partnership, trust or any other entity or organization or other body whatsoever.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Service Provider(s)"</span>
                means a third party company, person, organisation or entity that sells
                products and/ or services online to Customers on the Platform, payment for which may be
                made by the Customers using the Cardless EMI option.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"NACH"</span> means National Automated Clearing House.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"NSDL"</span> means the National Securities Depositary Limited.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Outstanding"</span> means the outstanding amount of the Facility, including all fees, interest, costs, charges, expenses and
                all other sums whatsoever payable by the Borrower(s) to ICICI Bank in accordance with the Terms and Conditions
                <i>(as defined below)</i>
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"OTP"</span> means one-time password.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Payment Due Date"</span> means the date, on which the EMI for servicing the Facility is required to be paid by the
                Borrower(s), as decided and communicated to the Borrower(s) by ICICI Bank.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Products"</span> means goods and / or services, being sold by the Service Provider(s) on the
                Platform, which are purchased and / or availed by the Borrower(s).
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"PAN"</span> means personal account number.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"RBI"</span> refers to the Reserve Bank of India.
            </p>
        </li>
        <li>
            <p class="font12">
                <span class="bold-text">"Terms and Conditions"</span> means these Primary Terms and Conditions, along with the and the MITC, as amended and/or
                modified by ICICI Bank from time to time.
            </p>
        </li>
    </ul>

    <h4 class="tncSectionHeader bold-text">2. GENERAL </h4>
    <p class="font14">
        The Borrower(s) hereby agree and accept that the entry of the OTP and PAN on the Platform and
        accepting the Terms & Conditions of the Facility at the time of online purchase, constitutes a binding
        agreement between the Borrower(s) and ICICI Bank in connection with the Facility.
    </p>
    <p class="font14">
        2.2 The Borrower(s) shall be responsible for the accuracy of all the information provided by them at the time of availing the
        Facility or otherwise and shall keep ICICI Bank updated on communication address, contact number and such other details as
        required to the satisfaction of ICICI Bank.
    </p>
    <h4 class="tncSectionHeader bold-text"> 3. SANCTION AND USAGE</h4>
    <p class="font14">
        3.1 The Customer(s) shall apply for the Facility on the Platform powered by the Aggregator where the
        Cardless EMI option has been enabled. The Customer(s), post purchase of Products from Service
        Provider(s) shall be offered Cardless EMI option on the payment page. Eligibility will be checked by
        providing their registered phone number.
    </p>
    <p class="font14">
        3.2  If the Customer(s) are eligible, an OTP shall be generated and sent to their phone number registered
        with ICICI Bank. The Customer shall be required to enter the OTP on the Platform. The Customer would
        then be prompted to enter their PAN for second factor authentication.
    </p>
    <p class="font14">
        3.3 By entering the OTP, PAN and other details, as may be stipulated by ICICI Bank from time to time, the Customer(s) provide
        consent for loan booking, EMI auto debit from their linked ICICI Bank account and accept these Primary Terms and Conditions.
    </p>


    <h4 class="tncSectionHeader bold-text">4. DISBURSEMENT</h4>
    <p class="font14">
        4.1 The Facility shall be provided to the Borrower(s) in the sole discretion of ICICI Bank and shall be subject to the terms
        mentioned herein and any additional conditions as stipulated by ICICI Bank from time to time.
    </p>
    <p class="font14">
        4.2 The Borrower(s) agree and acknowledge that the Facility amount shall be disbursed to Service
        Provider(s) through the Aggregator for and on behalf of the Borrower(s).
    </p>
    <p class="font14">
        4.3 The Facility shall be deemed to be sanctioned on the transfer of Facility amount from ICICI Bank's
        account to the Service Provider's designated account through the Aggregator.
    </p>
    <p class="font14">
        4.4  Upon disbursement of the Facility amount, the obligation of the Borrower(s) to ensure timely
        payment of the principal and interest shall be unconditional and will continue unaffected,
        notwithstanding that the Product may be lost, stolen, damaged, defective or destroyed due to any
        reason (including a force majeure event) or due to an act/omission of the Borrower(s) or the Service
        Provider(s) or any third party, while the Product is being delivered or otherwise.
    </p>
    <h4 class="tncSectionHeader bold-text">5. CANCELLATION AND PREPAYMENT</h4>
    <p class="font14">
        5.1 The Borrower(s) may prepay the Facility, with the prior written consent of ICICI Bank, by payment of the charges stipulated
        by ICICI Bank.
    </p>
    <p class="font14">
        5.2  If the Borrower(s) wish to cancel/return the Product, the Borrower(s) may raise a cancellation
        request to the Service Provider(s) on the Platform within a period of 14 days from the date of availing
        the Facility. Beyond this period of 14 days, the Borrower(s) shall not be entitled to such a cancellation
        and shall be under an obligation to repay the Facility to ICICI Bank by paying the EMIs as scheduled.
    </p>
    <p class="font14">
        5.3 The Borrower(s) hereby acknowledges that any amount paid to the Service Provider(s) in the form
        of a token amount/down payment for purchasing the Product shall be settled between the Service
        Provider(s) and the Borrower(s).
    </p>
    <h4 class="tncSectionHeader bold-text">6. PAYMENT AND REPAYMENT</h4>
    <p class="font14">6.1 The Borrower(s) agree to:</p>
    <p class="font12">
        (a) repay the Facility amount and applicable interest, charges and other fees in the form of EMIs on or within the Payment Due
        Date using, debit card, net banking, cheque, auto debit or any other electronic payment mode, in the manner specifically specified
        herein;
    </p>
    <p class="font12">
        (b) pay additional charges/fees applicable with respect to the repayment of the Facility including the cancellation charges,
        repayment mode swap charges etc., as specified in the MITC or as may be communicated by ICICI Bank from time to time;
    </p>
    <p class="font12">
        (c) pay EMI bounce charges as specified in the MITC, if the cheque issued by the Borrower(s) for payment/repayment is not
        honored by a bank or ECS/NACH (electronic clearing services/payment services for facilitating the payment/repayment with the
        consent of such Borrower(s)) or if such other instrument is returned;
    </p>
    <p class="font12">
        (d) pay the increased EMI amount due to increase in the interest, charges, taxes or fees payable in relation to the Facility amount.
        Such increased EMI amount shall form part of the MITC replacing the previous EMI amount;
    </p>
    <p class="font12">
        (e) pay cheque re-presentation charges in every instance where any post-dated cheque is dishonored (under any of the payment
        modes) and consequently represented OR in each instance where a post-dated cheque is presented when any installment/s
        is/are not received by ICICI Bank by/upon issue of debit instructions under the ECS method or direct debit method or any other
        payment method (other than the post-dated cheque method) selected by the Borrower(s).
    </p>
    <p class="font14">
        6.2 The Borrower(s) agree that the interest, charges and other fees payable by such Borrower(s) in relation to the Facility amount
        may be modified at the discretion of ICICI Bank and due notice in this regard shall be provided by ICICI Bank to such Borrower(s).
    </p>
    <p class="font14">
        6.3 In the event the EMI is not paid within the Payment Due Date, it shall be construed as a default on part of the Borrower(s) and
        he/she shall become liable to pay the amount together with default interest as specified in the MITC and late payment charges
        as specified in the next month's account statement. Such default interest will be computed from the Payment Due Date, subject
        to revision by ICICI Bank from time to time.
    </p>
    <p class="font14">
        6.4 On receipt of delayed payments by ICICI Bank from the Borrower(s), the amount shall be appropriated first against the
        outstanding dues and thereafter against the default interest and late payment charges.
    </p>
    <p class="font14">
        6.5 The Borrower(s) shall bear goods and services tax and any other statutory levies as may be applicable from time to time.
    </p>
    <p class="font14">
        6.7 Notwithstanding anything else provided the Terms and Conditions, ICICI Bank has the right to demand repayment of the
        entire amount outstanding under the Facility (including but not limited the principal amount, interest amounts and any other
        charges etc.) payable thereon by the Borrower(s), notwithstanding any amount already paid in relation to the Facility or amount
        payable being reduced for any reason whatsoever.
    </p>
    <h4 class="tncSectionHeader bold-text">7. REPRESENTATIONS, WARRANTIES AND COVENANTS</h4>
    <p class="font14">7.1 The Borrower(s) hereby agree:</p>
    <p class="font12">
        (a) not to default on or delay the payment of EMI;</p>
    <p class="font12">
        (b) that he/she has understood the method of calculation of default interest as specified in the MITC and other charges as
    levied in cases wherein the EMI has not been paid on or within the Payment Due Date;
    </p>
    <p class="font12">
        (c) that all information provided to ICICI Bank is true and correct; and</p>
    <p class="font12">
        (d) that he/she is at least 18 years of age.</p>
    <p class="font14">
        7.2 The Borrower(s) shall promptly notify ICICI Bank:</p>
    <p class="font12">
        (a) on the occurrence of any event which may make any information provided to ICICI Bank untrue or incorrect;</p>
    <p class="font12">
        (b) of any action or steps taken or other proceedings by or against the Borrower(s) in any court; and</p>
    <p class="font12">
        (c) in writing with complete details of any change in the information provided by the Borrower(s).</p>
    <p class="font14">
        7.3 The Borrower(s) shall have sole responsibility of taking delivery and possession of the Product from
        the Service Provider(s). ICICI Bank shall not be held liable, in any manner whatsoever, for the delayed
        delivery/non-delivery of the Product and/or related quality, fitness or suitability of the Product and the
        services provided by the Service Provider(s).
    </p>
    <p class="font14">
        7.4 The Borrower(s) agrees that ICICI Bank, by providing the Facility to the Borrower(s) creates a relationship of debtor and
        creditor between the Borrower(s) and ICICI Bank. ICICI Bank shall under no circumstance be regarded as a service provider in
        relation to the Product.
    </p>
    <p class="font14">
        7.5 The Borrower(s) agree that this clause (Representations and Warranties) shall remain true and correct during the entire tenure
        of the Facility.
    </p>

    <h4 class="tncSectionHeader bold-text">8. DEFAULT</h4>
    <p class="font14">8.1 The following acts, as set out below, shall constitute an 'Event of Default' by the Borrower(s):</p>
    <p class="font12">(a) Any default in paying the EMI on or within the Payment Due Date as payable under the Facility;</p>
    <p class="font12">(b) Breach of any of the Primary Terms and Conditions, or occurrence of any fraud, misrepresentation or failure to submit
    any material information;
    </p>
    <p class="font12">(c) Bankruptcy or insolvency of the Borrower(s), or if the Borrower(s) voluntarily or involuntarily becomes the subject of
    proceedings under any bankruptcy or insolvency law;
    </p>
    <p class="font12">(d) It is or becomes unlawful for the Borrower(s) to perform any of its obligations under the Facility;</p>
    <p class="font12">(e) Death of the Borrower(s); or</p>
    <p class="font12">(f) The existence of any other circumstance which, in the sole opinion of ICICI Bank, could jeopardize ICICI Bank's interest in
    the Facility.
    </p>
    <p class="font14">
        8.2 Upon the occurrence of an Event of Default as specified above, without prejudice to the other remedies available under law
        or in equity, ICICI Bank shall be entitled to give notice to the Borrower(s) and to exercise the following rights and remedies. ICICI
        Bank has the right to:
    </p>
    <p class="font12">
        (a) terminate the Facility and call upon the Borrower(s) to pay the outstanding (including principal amount, interest and
        charges) immediately;
    </p>
    <p class="font12">
        (b) engage one or more persons to collect dues from the Borrower(s). In this regard, ICICI Bank may furnish to such person(s)
        any information, facts and figures pertaining to Facility, contact details of such Borrower(s), as necessary;
    </p>
    <p class="font12">
        (c) call upon the successors/ legal heirs of the Borrower(s) to pay the outstanding and any other charges in full to ICICI Bank
        in the event of the death of the Borrower(s). In the event of the death of the Borrower(s), ICICI Bank shall have the same rights
        against the legal heirs/successors of such Borrower(s) as it had against the Borrower(s); and
    </p>
    <p class="font12">(d) to initiate legal proceedings against such Borrower(s).</p>
    <h4 class="tncSectionHeader bold-text">9. TERMINATION</h4>
    <p class="font14">
        ICICI Bank may at any time with or without notice, withdraw, terminate, and/or suspend the Facility at any time or in case of an
        Event of Default, as provided hereinabove.
    </p>
    <h4 class="tncSectionHeader bold-text">10. INDEMNITY</h4>
    <p class="font14">
        10.1 The Borrower(s), agree to indemnify and hold ICICI Bank and its affiliates, group companies, directors or employees
        harmless from and against all losses, damages, costs, claims and expenses whatsoever which ICICI Bank, its affiliates, group
        companies, directors or employees harmless from and against all losses, damages, costs, claims and expenses may at any time
        incur, sustain, suffer or is likely to suffer in connection with or as a consequence of or by reason of providing the Facility. The
        Borrower(s) shall pay ICICI Bank and /or its affiliates, group companies, directors or employees, such amount as may be
        determined by ICICI Bank and/or the affiliates to be sufficient to indemnify it against any such loss, damages, costs, claims and
        expenses.
    </p>
    <p class="font14">
        10.2 Further, the Borrower(s) agree, to indemnify, defend and hold harmless ICICI Bank affiliates, its affiliates, group companies,
        directors or employees against any claim, suit, action or other proceeding brought against ICICI Bank or its affiliates by a third
        party including such claim, suit, action of other proceeding that is based on or arises in connection with a violation of the Terms
        and Conditions, any applicable law or regulation, or any alterations or any unauthorized use of the Facility.
    </p>
    <p class="font14">
        10.3 Notwithstanding anything to the contrary contained herein or under any other transaction documents, the provisions of this
        clause (Indemnity) shall survive the termination of the Facility.
    </p>

    <h4 class="tncSectionHeader bold-text">11. EXCLUSION OF LIABILITY</h4>
    <p class="font14">
        11.1  In no event shall ICICI Bank be liable to the Borrower(s) for any special, incidental, indirect, punitive
        or consequential damages whatsoever (including, without limitation, damages of loss of goods or
        services, or any other pecuniary loss) arising out of the use of, or inability to use or access the Facility
        or for any security breach or technical malfunctioning of the Platform and/or ICICI Bank's systems,
        including breach of contract or warranty, negligence or other tortious action, or any other claim arising
        out, the Borrower(s)' use of or access to the Facility.
    </p>
    <p class="font14">
        11.2 Further, under the Terms and Conditions, ICICI Bank shall have no liability to the Borrower(s) in respect of any loss or
        damage arising directly or indirectly out of:
    </p>
    <p class="font12">(a) any defect in any Product supplied;</p>
    <p class="font12">(b) delay in delivery or non-receipt of Product purchased;</p>
    <p class="font12">(c) the refusal by any Service Provider(s) to honor the Facility;</p>
    <p class="font12">(d) acts done by ICICI Bank on the instruction of any person impersonating himself/herself as a Borrower(s);</p>
    <p class="font12">(e) the exercise by ICICI Bank Limited of its right to terminate the Facility; or</p>
    <p class="font12">(f)  any injury to the credit character and reputation of the Borrower(s) alleged to have been caused
        by the termination of the Facility and/or the refusal of any Service Provider(s) to honor the Facility.
    </p>
    <p class="font14">
        11.3 ICICI Bank holds out no warranty or makes no representation about quality, delivery or otherwise of the Product.
    </p>
    <p class="font14">
        11.4 Any dispute or claim arising in relation to the Product purchased by Borrower(s) must be resolved
        with the Service Provider(s). The existence of the claim or dispute shall not relieve the Borrower(s) of
        his/her obligation to pay the dues to ICICI Bank.
    </p>
    <p class="font14">
        11.5 Notwithstanding anything to the contrary contained herein or under any other transaction documents, the provisions of this
        clause (Exclusion of Liability) shall survive the termination of the Facility.
    </p>


    <h4 class="tncSectionHeader bold-text">12. RIGHT OF SET-OFF AND LIEN</h4>
    <p class="font14">
        12.1 ICICI Bank shall have the paramount right of set-off and lien, irrespective of any other lien or charge, on the deposits of any
        kind and nature held/ balances lying in any other account(s) of the Borrower(s) maintained with any of the ICICI group companies,
        whether in single name or joint name(s) and on any monies, securities, bonds and all other assets, documents and properties
        held by/ under the control of ICICI Bank and/or its group companies towards the satisfaction of the Borrower(s) liability under the
        Facility.
    </p>
    <p class="font14">
        12.2 ICICI Bank and/ or its group companies are entitled without any notice to the Borrower(s), to settle any indebtedness
        whatsoever owed by the Borrower(s) to ICICI Bank (whether actual or contingent, or whether primary or collateral, or whether
        joint and/or several) hereunder or under any other document/ agreement, by adjusting, setting-off any deposit(s) and/or
        transferring monies lying to the balance of any account(s) held by the Borrower(s) with ICICI Bank and/or its group companies
        notwithstanding that the deposit(s)/balances lying in such account(s) may not be expressed in the same currency as such
        indebtedness.
    </p>
    <p class="font14">
        12.3 ICICI Bank's and its group companies' rights hereunder shall not be affected by the Borrower(s)' bankruptcy, death or
        winding-up. It shall be the Borrower(s)' sole responsibility and liability to settle all disputes/ objections with any such joint account
        holders.
    </p>

    <h4 class="tncSectionHeader bold-text">13. AUTO DEBIT</h4>
    <p class="font14">
        On availing the auto debit facility, the bank account of the Borrower(s) will be debited, for the EMI as mentioned in the account
        statement, on or within the Payment Due Date. In case the Payment Due Date is not a Business Day, the bank account shall be
        debited on the next Business Day. In the event if the bank account does not have sufficient funds on the Payment Due Date, the
        Borrower(s) shall be liable to pay all the charges applicable in addition to the EMI as generated in the next month's account
        statement. ICICI Bank shall not be liable if the auto debit transaction is delayed or not effected at all for reasons of incomplete or
        incorrect information or for any other reason.
    </p>

    <h4 class="tncSectionHeader bold-text">14. DISCLOSURES</h4>
    <p class="font14">
        ICICI Bank may, without any specific consent/authorization of the Borrower(s) disclose all or any information related to the
        Borrower(s) and/or information related to the Facility availed by the Borrower(s) or liabilities/obligations of the Borrower(s) under
        the Facility to (i) its group companies, (ii) CIBIL or any other credit information companies, (iii) RBI, and/or (iv) any information
        utilities or to any other regulatory/statutory authorities.
    </p>

    <h4 class="tncSectionHeader bold-text">15. GOVERNING LAW AND JURISDICTION</h4>
    <p class="font14">
        The Terms and Conditions shall be governed by the laws of India and the competent courts/tribunals in Mumbai shall have
        exclusive jurisdiction to deal with any dispute that may arise out of the Terms and Conditions. Notwithstanding anything to the
        contrary contained herein or under any other transaction documents, the provisions of this clause (Governing Law and
        Jurisdiction) shall survive the termination of the Facility.
    </p>

    <h4 class="tncSectionHeader bold-text">16. NOTICES AND COMPLAINTS</h4>
    <p class="font14">
        All notices, requests, demands, waivers, complaints, queries and other communications required or
        permitted to be given hereunder in relation to the Facility, shall be submitted to ICICI Bank. Any other
        communications arising out of any acts or omissions of the Service Provider(s) to whom the payment
        was made using the Facility, shall be resolved between the Borrower(s) and such Service Provider(s)
        only and ICICI Bank shall have no responsibility or liability whatsoever in such regard.
    </p>

    <h4 class="tncSectionHeader bold-text">17. DISCLAIMER</h4>
    <p class="font14">
        17.1  ICICI Bank makes no representation about the quality, delivery, or otherwise of the Products
        offered by the Service Provider(s). The Products referred to herein are subject to the terms and
        conditions governing them as specified by ICICI Bank / Service Provider(s) from time to time and are
        offered at the sole discretion of ICICI Bank / Service Provider(s).
    </p>
    <p class="font14">
        17.2  Nothing contained herein shall constitute or be deemed to constitute an advice, invitation or
        solicitation to purchase any products/ services of ICICI Bank / Service Provider(s).
    </p>

    <h4 class="tncSectionHeader bold-text">18. MISCELLANEOUS</h4>
    <p class="font14">
        18.1 The Terms and Conditions may be varied, amended or modified, in whole or in part, by ICICI Bank at any time without
        notice. The last amended version shall be available on <a href="www.icicibank.com">www.icicibank.com</a> at all times.
    </p>
    <p class="font14">
        18.2 ICICI Bank may assign, transfer and/or novate in whole or in part, any of the rights and benefits or obligations under the
        Facility to any person (including but not limited to its affiliates), or any other company, for any reason whatsoever. The
        Borrower(s) shall not assign, transfer or novate in whole or in part, any of its rights and benefits or obligations under the Facility
        in whole or in part.
    </p>
    <p class="font14">
        18.3 Notwithstanding any suspension or termination of Facility, all rights and remedies of ICICI Bank as per the Terms and
        Conditions shall continue to survive until the receipt of the final instalment of the EMI and any other charges in full to the
        satisfaction of ICICI Bank.
    </p>
    <p class="font14">
        18.4 The Borrower(s) acknowledge that agreeing with the Terms and Conditions give rise to a debtor-creditor relationship
        between such Borrower(s) and ICICI Bank, and there is no service that is being provided by ICICI Bank to such Borrower(s).
    </p>
    <p class="font14">
        18.5 The Primary Terms and Conditions shall be in addition to and not in substitution or derogation to the MITC
    </p>

    <h4 class="tncSectionHeader bold-text">ICICI BANK LIMITED</h4>
    <p class="font14">
        Customer care contact details:
    </p>
    <p class="font14">
        For any grievances/queries, Customer(s)/ Borrower(s) can write to ICICI BANK LIMITED at <a href="mailTo:customer.care@icicibank.com">customer.care@icicibank.com</a>
    </p>
</div>

