.offerContainer {
  background-color: #ffffff;
}

.fullWidthContainer {
  box-shadow: 0 2px 12px -20px rgba(0, 0, 0, 0.08),
    0 32px 32px -30px rgba(0, 0, 0, 0.16);
  z-index: 2;
  position: relative;
}

.mainContainer {
  padding: 16px;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.bottomNavigation {
  text-align: center;
  color: var(--primaryThemeColor, #60b260);
  font-size: 16px;
  margin: 40px auto;
}
