.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
  width: 100%;
}

.headerContainer {
  margin-bottom: 8px;
}

.submitButton {
  max-width: 250px;
  width: 100%;
}

.helperText {
  margin-top: 8px;
}

.redirect__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.loader {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.redirect__text,
.timer {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.timer {
  color: #22995a;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goBackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc70;
  width: 100%;
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  padding: 8px 10px;
}
