.home {
  padding-top: 0px;
  min-height: 100%;
  width: 100%;
}

.container {
  background-image: linear-gradient(to left, #58c6cf, #37b77c);
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.container img {
  margin: 0 auto;
  max-width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
